.places {
  width: 83%;
  margin: 0 auto;
  padding-bottom: 90px;
}

@media (max-width: 1279px) {
  .places {
    width: 90%;
  }
}

@media (max-width: 1023px) {
  .places {
    width: 94%;
  }
}

@media (max-width: 767px) {
  .places {
    width: 100%;
    padding-bottom: 88px;
  }
}
