.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 25px;
}

.place__paragraph:last-of-type {
  padding-bottom: 0px;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}
