.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  opacity: 1;
  transition: opacity 0.6s;
}

.place__link:hover {
  opacity: 0.8;
}
