.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
  padding-top: 92px;
}

@media (max-width: 1279px) {
  .footer {
    width: 91%;
  }
}

@media (max-width: 1023px) {
  .footer {
    width: 94%;
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .footer {
    width: 90%;
    flex-direction: column;
    padding-top: 64px;
  }
}
